@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #1f1f1f;
    color: whitesmoke;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: auto auto;
    padding: 0 15px;
}

.header {
    padding: 25px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container a {
    font-size: 16px;
    opacity: 0.7;
    text-transform: uppercase;

    transition: opacity 0.2s;
}

.logout a, .user-name a {
    font-size: 18px;
}

.container a:hover {
    opacity: 0.9;
}

.container a.active {
    opacity: 1;
}

.header-nav-list {
    display: flex;
    gap: 30px;
}

.body {
    max-width: 540px;
    background-color: rgb(98, 98, 98);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 80px auto;
    padding: 15px 0;
    border-radius: 30px;
}

.body div {
    width: 70%;
    margin: auto;
    padding: 5px 20px;
    text-align: center;
}

.body .form_user_pass p {
    text-align: start;
    margin-bottom: 3px;
    font-size: 14px;
}

.form_user_pass input {
    height: 50px;
    width: 100%;
    opacity: 0.9;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    text-indent: 15px;
}

button {
    height: 50px;
    width: 220px;
    font-size: 24px;
    border-radius: 15px;
    background-color: lightgrey;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background-color: #aaaaaa;
}

.errors p {
    color: #FF3814;
}