@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    min-height: 70vh;
    background-color: #1f1f1f;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    max-width: 1140px;
    margin: 200px auto auto;
}

h1, h2, h3, h4, h5, h6, p, a {
    text-decoration: none;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    cursor: auto;
}

h1 {
    font-size: 60px;
    margin: 50px 0;
}

.payload {
    font-size: 22px;
    margin: 10px 0;
}

.debug {
    font-size: 20px;
    opacity: .8;
}

button {
    width: 200px;
    height: 60px;
    margin: 15px 0;
    border-radius: 20px;
    font-size: 26px;
    cursor: pointer;
    background-color: antiquewhite;
    transition: all .3s;
}

button:hover {
    background-color: burlywood;
}