@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #1f1f1f;
    color: whitesmoke;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: auto auto;
    padding: 0 15px;
}

.header {
    padding: 25px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    font-size: 16px;
    opacity: 0.7;
    text-transform: uppercase;

    transition: opacity 0.2s;
}

.logout a, .user-name a {
    font-size: 18px;
}

.header a:hover {
    opacity: 0.9;
}

.header a.active {
    opacity: 1;
}

.header-nav-list {
    display: flex;
    gap: 30px;
}

/* splits list */

.container h1 {
    margin: 50px 50px 25px 50px;
    font-size: 36px;
}

.container .split_add {
    margin-left: 65px;
    width: 180px;
    height: 45px;
    border-radius: 10px;
    background-color: lightgrey;
    font-size: 16px;
    text-indent: -5px;
    cursor: pointer;
    transition: all .3s;
}

.container .split_add:hover {
    background-color: #aaaaaa;
}

/* list */

.split_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.split_list .split_name {
    font-size: 22px;
    text-indent: 15px;
    opacity: .9;
    transition: all .2s;
}

.split_list .split_name:hover {
    opacity: 1;
}

.split_list .split_date, .split_list .split_owner {
    font-size: 18px;
    opacity: .6;
}

/* table list */

.split_table {
    margin: 0 50px;
    width: 95%;
    border-collapse: collapse;
    border: none;
}

.split_table td {
    padding: 0 15px;
}

.split_table .td1 {
    width: 50%;
}

.split_table .td2 {
    width: 30%;
}

.split_table .td3 {
    width: 20%;
}

.split_table .split_name {
    font-size: 22px;
    opacity: .9;
    transition: all .2s;
}

.split_table .split_name:hover {
    opacity: 1;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.split_table .split_date, .split_table .split_owner {
    font-size: 18px;
    opacity: .6;
}

/* split create */

.form-text, .form-checkbox {
    margin: 25px 0 25px 65px;
}

.form-text p, .form-checkbox p {
    text-align: start;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-text input {
    height: 50px;
    width: 80%;
    opacity: 0.9;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    text-indent: 15px;
}

.form-checkbox input {
    width: 30px;
    height: 30px;
}

/* container view */

.container_view {
    min-width: 600px;
    margin: 0 100px;
}

.container_view h1 {
    font-size: 32px;
    margin: 15px 0;
}

.container_view p {
    opacity: .7;
    margin: 15px 0;
}

.container_view .split_btn {
    width: 180px;
    height: 45px;
    border-radius: 10px;
    background-color: lightgrey;
    font-size: 16px;
    text-indent: -5px;
    cursor: pointer;
    transition: all .3s;
}

.container_view .split_btn:hover {
    background-color: #aaaaaa;
}

.container_view .delete_btn:hover {
    background-color: #c71717;
}

/* table view */

.content_table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    table-layout: fixed;
}

.content_table th,
.content_table td {
    padding: 9px 10px;
    text-align: center;
    border: 1px solid #cccccc;
    background-color: #626262;
}

.content_table th,
.content_table tfoot,
.content_table tfoot td {
    font-weight: bold;
    border-bottom: 4px solid #cccccc;
}

.content_table tfoot {
    border-top: 4px solid #cccccc;
}

.content_table .unchecked {
    background-color: rgba(255, 82, 82, 0.3);
}

.content_table td:nth-child(1),
.content_table th:nth-child(1) {
    text-align: start;
    width: 34%;
}

.content_table td:nth-child(2),
.content_table th:nth-child(2) {
    text-align: start;
    width: 8%;
}

.content_table td:nth-child(3),
.content_table th:nth-child(3) {
    text-align: start;
    width: 8%;
}
